@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="padding-bottom: 50px; padding-top: 50px;">
    <h1 class="display-4">Bem-Vindo</h1>
</div>
<div class="d-flex justify-content-around text-center" style="padding-top: 20px;">
    <div class="container">
        <img />
        <h3>
            Crie uma Conta
        </h3>
        <p>
            Identifique seu tipo de usuário, se é Freelancer ou Contratante
        </p>
    </div>
    <div class="container">
        <h3>
            Publique um Trabalho ou Envie uma Oferta
        </h3>
        <p>
            Dependendo da conta criada, você tem a possibilidade de publicar trabalhos ou enviar ofertas
        </p>
    </div>
    <div class="container">
        <h3>
            Contrate ou Seja Contratado
        </h3>
        <p>
            Ao aceitar uma oferta de trabalho, a plataforma gera um contrato entre as duas partes, que pode ser concluído ou cancelado, com base no trabalho prestado
        </p>
    </div>
</div>
